---
layout : default
---

<div class="row">
    {{#collection.paginator}}
      <div class="{{ collection.resource_name}} col-md-4">
        <center>
          <a href="{{url}}">
            {{#img}}<img src="{{urls.media}}/{{img}}">{{/img}}
            {{^img}}<img src="{{urls.media}}/250x250.gif">{{/img}}
          </a>
        </center>
        <h3 class="title"><a href="{{url}}">{{title}}</a> <span class="date right">{{ date }}</span></h3>

        {{ summ }}

        <div class="more">
          <a href="{{url}}" class="btn btn-small">read more..</a>
        </div>
      </div>
    {{/collection.paginator}}

    <div class="col-md-12">
      <ul class="pager">
      {{#collection.paginator_navigation}}
        {{#is_active_page}}
          <li class="active"><a href="{{url}}">{{name}}</a></li>
        {{/is_active_page}}
        {{^is_active_page}}
          <li><a href="{{url}}">{{name}}</a></li>
        {{/is_active_page}}
      {{/collection.paginator_navigation}}
      </ul>
    </div>
</div>
