---
layout : default
---

{{# page.author?to_data }}
  <strong>{{ name }}</strong>
  <p>{{ bio }}</p>
{{/ page.author?to_data }}

<div class="page-header">
  <h1>
    {{ page.title }} {{# page.tags }} <small>[ <a href="/tags#{{ name }}">{{ name }}</a> ]</small>{{/ page.tags }} <small class='date'> {{page.date}} </small>
  </h1>
</div>

<div class="row post-full">
  <div class="col-md-12">
    <div class="content">
      {{{ page.content }}}
    </div>
    <hr>
    <ul class="pager pager-prev">
      {{# page.previous }}
        <li class="prev"><a href="{{ url }}" title="{{ title }}">&larr; Previous</a></li>
      {{/ page.previous }}
      {{^ page.previous }}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {{/ page.previous }}

      {{# page.next }}
        <li class="next"><a href="{{ url }}" title="{{ title }}">Next &rarr;</a></li>
      {{/ page.next }}
      {{^ page.next }}
        <li class="next disabled"><a>Next &rarr;</a>
      {{/ page.next }}
    </ul>
    <hr>
    {{{ widgets.comments }}}
  </div>
</div>

